/* common */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(224, 252, 234);
}

h1 {
  margin: 0;
}

header {
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  background: #fff;
}

.container {
  margin: 0 16px;
  padding: 0;
}

.explain {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

/* lyrics */

ul>div {
  background-color: #fff;
  margin: 10px;
  border-radius: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;  
}

li {
  /* width: 480px; */
  font-family: HG正楷書体-PRO, cursive;
  font-size: 24px;
  padding: 8px 8px; 
}